{% extends 'base.html.twig' %}

{% block title "Complète | Mobilité & proximité" %}

{% block body %}
    {{ include('include/_alert.html.twig') }}

    <section class="py-12 sm:py-16 px-6 sm:px-8 flex min-h-screen justify-center bg-background">
        <div class="mx-auto max-w-[32rem]">

            <div class="text-center mb-12 sm:mb-16">
                <p class="text-base sm:text-lg font-medium leading-8 text-primary/95">Mobilité & Proximité</p>
                <h1 class="sm:mt-3 text-xl sm:text-4xl">Sondage términé !</h1>
                <p class="sm:mt-3 text-base sm:text-lg leading-relaxed text-foreground">
                    Merci pour votre participation. Notre équipe vous souhaite une agréable journée.
                </p>
            </div>

            <p class="mb-6 italic text-sm">Si vous souhaitez être informé des résultats ou souhaitez en savoir plus, vous avez la possibilité de laisser votre mail. Vos réponses resteront anonymes.</p>

            {{ form_errors(form) }}
            {{ form_start(form) }}
            {{ form_row(form.email) }}
            <div class="flex items-center justify-center">
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
