{% extends 'admin/base.html.twig' %}

{% block title %}About new{% endblock %}

{% block admin %}


    <section class="relative flex flex-col min-w-0 break-words bg-card w-full mb-6 m:shadow-lg rounded">
        <div class="rounded-t mb-0 p-6 border-b border-border">
            <div class="flex flex-wrap items-center">
                <div class="relative w-full max-w-full flex-grow flex-1">
                    <h2>{{ root == 'admin_about_new' ? "Ajouter une about" : "Modifier l'about : " ~ about }}</h2>
                </div>
                <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">
                    <a href="{{ path('admin_about_index') }}" class="text-muted-foreground font-medium text-xs uppercase hover:text-muted-foreground/80">Retour</a>
                </div>
            </div>
        </div>

        <div class="p-6 block w-full overflow-x-auto">
            {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}

            <div class="flex items-center gap-x-2">
                {{ form_row(form.save) }}
            </div>
            {{ form_end(form) }}
        </div>
    </section>

{% endblock %}
