{% extends 'admin/base.html.twig' %}

{% block title 'Réponses Index| Admin' %}

{% block admin %}
    <section class="relative flex flex-col min-w-0 break-words bg-card w-full">
        <h2 class="mb-6">Réponses Index</h2>

        <div class="md:shadow-lg rounded overflow-x-hidden" data-controller="checkbox">
            {% if data|length > 0 %}
                <div class="rounded-t mb-0 p-6 border-b border-border">
                    <div class="flex flex-wrap items-center">
                        <div class="flex items-center gap-x-2">
                            <input type="checkbox" id="delete_all" name="delete_all" class="block" data-checkbox-target="rowCheckboxAll">
                            <label for="delete_all"
                                   class="text-sm sr-only"
                                   data-checkbox-target="rowNumber"
                                   data-checkbox-row-checked-value="">
                                Tous sélectionner
                            </label>
                        </div>
                        <div class="relative w-full flex-grow flex-1 flex items-center justify-end gap-x-2">
                            <a href="{{ path('admin_answer_download') }}"
                               class="btn btn-sm btn-outline-primary"
                               data-controller="redirect-index">
                                Télécharger
                            </a>
                            <form name="form_delete"
                                  action="{{ path('admin_answer_delete') }}"
                                  class="hidden transition-all duration-300"
                                  method="post"
                                  data-checkbox-target="deleteForm"
                            >
                                <input type="hidden" id="selected_rows" name="_selected_rows" data-checkbox-target="rows">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete_group') }}">
                                <button type="submit" class="btn btn-sm btn-destructive">Supprimer</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="block w-full overflow-x-auto">
                <div class="table items-center bg-transparent w-full border-collapse">
                    {% for key, polls in data %}
                        <ul class="flex items-center gap-6 hover:bg-muted hover:text-muted-foreground overflow-x-auto">
                            <li class="px-6 py-4 text-base text-foreground font-bold">
                                <label>
                                    <input type="checkbox" name="checkbox_delete[]" value="{{ key }}" data-checkbox-target="rowCheckbox">
                                </label>
                            </li>
                            <li class="px-6 py-4 text-base text-foreground font-bold">{{ loop.index }}</li>
                            {% for answer in polls %}
                                <li class="block px-6 py-4">
                                    <p class="flex items-center flex-nowrap text-sm">{{ answer.response }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="p-6">
                            <p class="text-lg font-bold text-foreground leading-9 tracking-tight">Aucune réponse enregistrée</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
