{% extends 'admin/base.html.twig' %}

{% block title %}Emails index{% endblock %}

{% block admin %}

    {{ include('include/_alert.html.twig') }}

    <section class="relative flex flex-col min-w-0 break-words bg-card w-full">
        <div class="flex flex-wrap items-center">
            <div class="relative w-full max-w-full flex-grow flex-1">
                <h2>Emails Index</h2>
            </div>
        </div>

        <div class="mt-6 md:shadow-lg rounded border border-border block w-full overflow-x-auto" data-controller="checkbox">
            {% if emails|length > 0 %}
                <table class="items-center bg-transparent w-full border-collapse ">
                    <thead>
                    <tr class="border-b border-border">
                        <th class="w-0 md:w-64 px-8 align-middle py-5 text-xs text-card-foreground uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                            <div class="flex items-center w-full">
                                <input type="checkbox" id="delete_all" name="delete_all" class="block" data-checkbox-target="rowCheckboxAll">
                            </div>
                        </th>
                        <th class="px-8 align-middle py-3 text-xs text-card-foreground uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                            Label
                        </th>
                        <th class="px-8 align-middle py-3 text-base text-card-foreground uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-end">
                            <form name="form_delete"
                                  action="{{ path('admin_email_delete_all') }}"
                                  class="hidden transition-all duration-300"
                                  method="post"
                                  data-checkbox-target="deleteForm"
                            >
                                <input type="hidden" id="selected_rows" name="_selected_rows" data-checkbox-target="rows">
                                <button type="submit" class="btn btn-sm btn-destructive">Supprimer ({{ emails|length }})</button>
                            </form>
                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for email in emails %}
                        <tr>
                            <th class="border-t-0 px-8 align-middle border-l-0 border-r-0 text-base text-card-foreground whitespace-nowrap p-4 text-left">
                                <label><input type="checkbox" name="checkbox_delete[]" value="{{ email.id }}" data-checkbox-target="rowCheckbox"></label>
                            </th>
                            <td class="border-t-0 px-8 align-middle border-l-0 border-r-0 text-base text-card-foreground whitespace-nowrap p-4 ">
                                {{ email }}
                            </td>
                            <td class="border-t-0 px-8 align-center border-l-0 border-r-0 text-base text-card-foreground whitespace-nowrap p-4">
                                <div class="flex justify-end items-center gap-x-2">
                                    {{ include('admin/email/_delete_form.html.twig') }}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            {% else %}
                <div class="p-6">
                    <p class="text-lg font-bold leading-9 tracking-tight">
                        Aucun email enregistré
                    </p>
                </div>
            {% endif %}
        </div>
    </section>

{% endblock %}